@font-face {
    font-family: 'Berthold';
    src: url('./assets/blockberthold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#root {
    --font-family: 'Berthold', sans-serif;
    --font-family-secondary: 'Anton', sans-serif;
    font-family: var(--font-family);
    font-size: 16px;

    color: #fff;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    --bg: #181818;
    --button-primary: #2269c5;
    --input-primary: #2e2e2e;
    background: var(--bg);
    
}

::-webkit-scrollbar {
    width: .9vh;
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

html, body, p {
    padding: 0;
    margin: 0;
}

.app {
    background: var(--bg);
}

.app__topbar {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    width: 100%;
    height: 14vh;
    background:#373737;

    border-bottom: #686868 0.55vh solid;
}



.app__topbar__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    position: absolute;
    right: 4.5vh;
}

.app__topbar__username, .app__topbar__screenshot-view {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.37vh solid #fff;
    border-radius: 1.1vh;
    font-size: 2vh;
    width: 20vh;
    height: 6vh;
    cursor: pointer;
}

.app__topbar__screenshot-view {
    width: 25vh;
}


.app__topbar-header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 7vh;
}


.app__create {
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4vh;
    width: 33.5vh;
    height: 9.8vh;
    border: 0.37vh solid #fff;
    border-radius: 1.1vh;
    font-size: 2vh;
    z-index: 10;
    cursor: pointer;
}

.app__create__icon {
    width: 3.8vh;
    height: 3.8vh;
}

.app__modpacks {
    margin-top: 5vh;
    width: 92%;
    padding: 0 4%;
    display: flex;
    height: 58vh;
    max-height: 58vh;
    overflow-y: auto;
    flex-direction: column;
}

.app__modpacks-row {
    display: flex;
    flex-direction: row;
    gap: 9.2vh;
    margin-bottom: 5vh;
}

.app-version {
    position: absolute;
    bottom: 1vh;
    right: 1vh;
    font-size: 1.5vh;
    color: #707070;

}